* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fed2e7;
  font-family: "Montserrat", sans-serif;
}

.main {
  background-color: #f7f0f7;
  width: 80%;
  height: 100%;
  margin: auto;
}

header {
  display: flex;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ff6fb5;
}

#navbar {
  display: flex;
  margin-left: 16em;
  margin-top: 3.5em;
}
.navitem {
  padding-left: 5em;
  padding-right: 5em;
  font-size: x-large;
  font-weight: bold;
}

#logo {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 2em;
}

footer {
  display: flex;
  padding-top: 3em;
  padding-bottom: 3em;
}

#adres {
  margin-left: 20%;
  font-size: larger;
  font-weight: bold;
}

#logo1 {
  margin-left: 25%;
}

address {
  margin-left: 10em;
  font-size: larger;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  margin-top: 3em;
  margin-bottom: 2em;
  color: #ff7700;
}

p {
  text-align: justify;
  font-size: larger;
  margin: 0em 10em 0em 10em;
}

article {
  height: 378px;
}
