* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fed2e7;
  font-family: "Montserrat", sans-serif;
}

.main {
  background-color: #f7f0f7;
  width: 80%;
  height: 100%;
  margin: auto;
}

header {
  display: flex;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ff6fb5;
}

#navbar {
  display: flex;
  margin-left: 16em;
  margin-top: 3.5em;
}
.navitem {
  padding-left: 5em;
  padding-right: 5em;
  font-size: x-large;
  font-weight: bold;
}

#logo {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 2em;
}

footer {
  display: flex;
  padding-top: 3em;
  padding-bottom: 3em;
}

#adres {
  margin-left: 20%;
  font-size: larger;
  font-weight: bold;
}

#logo1 {
  margin-left: 25%;
}

address {
  margin-left: 10em;
  font-size: larger;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  margin-top: 2em;
  margin-bottom: 2em;
  color: #ff7700;
}

.donutcard {
  height: 600px;
  width: 500px;
  background-color: #ff6fb5;
  border-radius: 5%;
  margin-left: 6em;
  box-shadow: 10px 10px #000000;
}

.name {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  margin-top: 20px;
}

.itempic {
  margin-top: 25px;
}

.donutlar {
  display: flex;
}

.donutlar1 {
  display: flex;
  margin-top: 100px;
  margin-bottom: 150px;
}
.coffeepic {
  width: 500px;
  margin-top: 25px;
}

.coffeecard {
  height: 600px;
  width: 500px;
  background-color: #ff7700;
  border-radius: 5%;
  margin-left: 6em;
  box-shadow: 10px 10px #000000;
}
